@import url('https://fonts.cdnfonts.com/css/harmonyos-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'HarmonyOS Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.st0 {
  fill: #E60000;
}

.st1 {
  fill: #ffffff;
}

*:focus {
  outline: none;
}

.illustration-section-01::after {
  content: "";
  background: url('../images/illustration-section-01.svg') no-repeat;
  width: 100%;
  height: 286px;
  position: absolute;
  z-index: -1;
}

.apexcharts-treemap-rect .apexcharts-treemap rect {
  stroke: #620f0f !important;
}