.Dropdown_menu-right__cnArz {
  background-color: #121212 !important;
}

.Dropdown_menu-left__knY\+2 {
  background-color: #121212 !important;
}

.Submenu_submenu__cHQYJ {
  background-color: #121212 !important;
}

.Item_item__iofjT {
  color: #fff !important;
}

.Item_item__iofjT:hover {
  background-color: #121212 !important;
  color: #a1a1aa !important;
}