.Dropdown_menu-right__W5QWT {
  background-color: #121212 !important;
}

.Dropdown_menu-left__knY\+2 {
  background-color: #121212 !important;
}

.Submenu_submenu__ZmJaR {
  background-color: #121212 !important;
}

.Item_item__cAVjb{
  color: #fff !important;
}

.Item_item__cAVjb:hover {
  background-color: #121212 !important;
  color: #a1a1aa !important;
}